<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GameLegends Collectibles</title>


    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <div th:include="template::header"></div>
    <!-- Page Content -->
    <div class="container">



        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            GameLegends Collectibles <small>Products</small>
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item active">Update product</li>
        </ol>

        <h2>Actualizar Producto</h2>
        <form class="form-horizontal" th:action="@{/admin/products/edit/{id} (id=${product.id})}" method="post" enctype="multipart/form-data">
            <!--input type="hidden" name="id" value=""-->
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name"
                        placeholder="Ingrese el name del producto" required autocomplete="off" th:value="${product.name}">
                    <div id="prueba"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="description">Description:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="description" name="description"
                        placeholder="Introduce product description" required autocomplete="off" th:text="${product.description}"> </textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="stock">Stock:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="stock" name="stock"
                        placeholder="Introduce product stock" required autocomplete="off" th:value="${product.stock}">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="price">price:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" step="any" id="price" name="price"
                        placeholder="Introduce product price" required autocomplete="off" th:value="${product.price}">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="img">Image:</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control-file" id="img" name="img">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-success"> Save</button>
                </div>
            </div>

        </form>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <div th:include="template::footer"></div>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>