<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>GameLegends Collectibles</title>


    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <div th:include="template::header"></div>


  <!-- Page Content -->
  <div class="container">

    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h2>Log in</h2>

          </div>
        </div>
      </div>
    </div>

    
    <form th:action="@{/auth/login}" method="post">
      <div class="form-group">
        <label for="username"> Username:  </label>      
        <input type="username" class="form-control" id="useraname" name="username" placeholder="Introduce your username" required autocomplete="off"> 

      </div>

      <div class="form-group">
        <label for="pwd"> Password:</label>
        <input type="password"  class="form-control" id="password" name="password" placeholder="Introduce your password" required>       
      </div>

      <div class="form-group">
        <div class="col-sm-2">
          <button type="submit" class="btn btn-dark"> <span class="glyphicon glyphicon-ok"></span> Log in</button>
        </div>      
      </div>    
    </form>
    <a th:href="@{/auth/register}" class="card-link">New here? Register here</a>
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <div th:include="template::footer"></div>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
